

<!--<html>
<head></head>
<body>
	<form method="post" enctype="multipart/form-data" action="/api/incidents"> 
		
		
		<label class="col-sm-2 control-label" for="myimage">Picture</label>
		<div>
		 	<input type="file" class="form-control" name="picture"/>
		</div>


	  <label class="col-sm-2 control-label" for="textinput">Capturer</label>
      <div class="col-sm-4">
        <input type="text" placeholder="Capturer" class="form-control" name="capturer">
      </div>

      <label class="col-sm-2 control-label" for="textinput">Location</label>
      <div class="col-sm-4">
        <input type="text" placeholder="Location" class="form-control" name="location">
      </div>

      <label class="col-sm-2 control-label" for="textinput">Comment</label>
      <div class="col-sm-4">
        <input type="text-area" placeholder="Comment" class="form-control" name="comment">
      </div>

	      
		<input type="submit" name="submit"  value="submit">
	</form>


<div>
   
</div>

</body>
</html>
-->


